<script>
    import { onMount } from 'svelte';

    // export let item;
    export let myPlayer;
    export let playerWidth;

    const bannerNames = [
        'Group 255',
        'Group 259',
        'Group 263',
        'Group 264',
        'Group 265',
        'Group 267',
        'Group 277',
        'Group 278',
        'Group 279',
        'Group 284',
        'Group 307',
        'Group 308',
        'Group 310',
        'Group 311',
        'Group 313',
        'Group 315',
        'Group 318',
        'Group 320',
        'Group 321',
        'Group 322',
        'Group 323',
        'Group 324',
        'Group 325',
        'Group 326',
        'Group 423',
    ]

    let banners = {};

    const setBannersOpen = (i = 0) => {
        const name = bannerNames[i];
        banners[name].isOpen = true;
        if (i < bannerNames.length - 1) setTimeout(() => setBannersOpen(i+1), Math.random()*50);
    }

    onMount(() => {
        myPlayer.pause();
        myPlayer.controls(false);

        bannerNames.forEach((name) => {
            banners[name] = {
                isOpen: null,
                left: Math.random() * playerWidth * 0.9 - playerWidth * 0.1,
                top:  Math.random() * playerWidth * 360/640 * 0.9 - playerWidth * 360/640 * 0.1,
            }
        })
        setBannersOpen()
    });

    const continuePlay = () => {
        myPlayer.controls(true);
        myPlayer.play();
    }

    const closeBanner = (name) => banners[name].isOpen = false;

    $: if (bannerNames.every((name) => banners[name]?.isOpen == false)) continuePlay();

</script>

<div class="spamhell">
    {#each bannerNames as name}
        {#if banners[name]?.isOpen}
            <div
                class="banner"
                style="left: {banners[name].left}px; top: {banners[name].top}px;"
                on:click={()=> closeBanner(name)}
            >
                <img src="./images/spamhell/banners/{name}.png" alt="Spamhell {name}"/>
            </div>
        {/if}
    {/each}
</div>

<style>

.spamhell {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;

    background: url(../images/spamhell/desktop.png);
    background-attachment: fixed;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}

.banner {
    position: absolute;
}
</style>
