<script>
    import { onMount } from 'svelte';

    // export let item;
    export let myPlayer;
    // export let playerWidth;

    onMount(() => {
        myPlayer.pause();
        myPlayer.controls(false);
    });

    const continuePlay = () => {
        myPlayer.play();
        myPlayer.controls(true);
    };

    let coords = {};
    const requiredDifference = myPlayer.height_ / 2;

    const eventHandler = (e) => {
        if (e instanceof TouchEvent && e.changedTouches.length === 1) {
            return e.changedTouches[0];
        } else if (e instanceof PointerEvent) {
            return e;
        } else return null;
    }

    const pointerStartHandler = (e) => {
        const event = eventHandler(e);
        if (!event) return;

        coords = {pageX: event.pageX, pageY: event.pageY};
    }

    const pointerEndHandler = (e) => {
        const event = eventHandler(e);
        if (!event) return;

        if (coords.pageY - event.pageY > requiredDifference && Math.abs(coords.pageX - event.pageX) < requiredDifference) {
            continuePlay();
        }
    }
</script>

<div
    class="instagram"
    on:pointerdown={pointerStartHandler}
    on:pointerup={pointerEndHandler}
    on:touchstart={pointerStartHandler}
    on:touchend={pointerEndHandler}
/>

<style>
    .instagram {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1000;
        width: 100%;
    }
</style>
