<script>
    export let item;
    export let startAdditionalPlayer = () => {}

    const friendCountString = () => {
        const {friendCount} = item;
        const titles = ['общий друг', 'общих друга', 'общих друзей'];
        const cases = [2, 0, 1, 1, 1, 2];
        return friendCount + ' ' + titles[(friendCount % 100 > 4 && friendCount % 100 < 20) ? 2 : cases[(friendCount % 10 < 5) ? friendCount % 10 : 5]];
    };
</script>

<div class="FriendCard">
    <img
        class="avatar"
        alt="avatar"
        src={`./images/Damnbook/Friends/${item.avatar}`}
    />
    <div class="info">
        <div class="name">{item.name}</div>
        <div class="count">
            {#if item.friendCount}
            <img
                class="commonFace"
                alt="commonFace"
                src={`./images/Damnbook/commonFriend.png`}
            />
            <span>{friendCountString()}</span>
            {/if}
        </div>
        <button class='add' on:click={() => startAdditionalPlayer(item.videoUrl)}>Добавить</button>
        <button class='del'>Удалить</button>
    </div>

</div>

<style>
    .FriendCard {
        flex: 1 1 0px;
        min-width: 160px;
        max-width: 250px;
        border-radius: 6px;
        background-color: #FFFFFF;
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
        overflow: hidden;
        margin-bottom: 8px;
        margin-right: 8px;
    }
    .avatar {
        width: 100%;
    }
    .info {
        padding: 12px;
        display: flex;
        flex-direction: column;
        font-family: Roboto;
    }
    .name {
        font-style: normal;
        font-weight: 800;
        font-size: 17.5px;
        line-height: 21px;
        margin-bottom: 6px;
    }
    .count {
        font-style: normal;
        font-weight: normal;
        font-size: 15.5px;
        line-height: 18px;
        min-height: 20px;
        display: flex;
        align-items: center;
    }
    .commonFace {
        width: 20px;
        height: 20px;
        border-radius: 10px;
        margin-right: 4px;
    }
    button {
        margin-top: 6px;
        padding: 9px;
        border-radius: 5px;
        border: 0;
        font-style: normal;
        font-weight: 500;
        font-size: 15.5px;
        line-height: 18px;
    }
    .add {
        background: #E8F3FF;
        color: #3477F0;
        cursor: pointer;
    }
    .add:hover {
        background: #DCE7F2;
    }
    .add:active {
        background: #CBDFFE;
    }

    .del {
        background: #E4E6EB;
    }
</style>
