<script>
    import FriendBlock from './FriendBlock.svelte'
    import friendsList from './friendsList.js'
    export let startAdditionalPlayer = () => {};
</script>

<div class="gridWrapper">
    <h2>Кто из них обидчик?</h2>
    <div class="gridArray">
        {#each friendsList as item}
            <FriendBlock {item} {startAdditionalPlayer} />
        {/each}
    </div>
</div>

<style>
        @media screen and (max-width: 720px) {
        .gridWrapper.gridWrapper {
            padding: 10px;
        }
    }
    .gridWrapper {
        padding: 36px;
    }
    h2 {
        font-size: 20.5px;
        font-weight: 700;
        font-style: normal;
        line-height: 24px;
        margin: 0;
    }
    .gridArray {
        width: 100%;
        margin-top: 12px;
        margin-bottom: 24px;
        display: flex;
        justify-content: flex-start;
        flex-wrap: wrap;
    }

</style>
