<script>
    import Logo from './Logo.svelte';
</script>

<nav>
    <div class="container">
        <Logo />
        <div class="centralIcons">
            <div class="icon">
                <img src="./images/Damnbook/Icons/home.png" alt="Home" />
            </div>
            <div class="icon underline">
                <img src="./images/Damnbook/Icons/friends.png" alt="Home" />
            </div>
            <div class="icon" style="position: relative">
                <img src="./images/Damnbook/Icons/video.png" alt="Home" style="max-height: 70%; position: relative; top: -6px;" />
            </div>
            <div class="icon">
                <img src="./images/Damnbook/Icons/shop.png" alt="Home" />
            </div>
            <div class="icon">
                <img src="./images/Damnbook/Icons/gang.png" alt="Home" />
            </div>
        </div>

        <div class="rightIcons">
            <div class="avatar">
                <img
                    alt="avatar"
                    src={`./images/avatar.png`}
                />
            </div>
            <div class="username">Чувак</div>

            <div class="button">
                <img
                    alt="avatar"
                    src={`./images/Damnbook/Icons/dots.png`}
                />
            </div>
            <div class="button">
                <img
                    alt="avatar"
                    src={`./images/Damnbook/Icons/messenger.png`}
                />
            </div>
            <div class="button">
                <img
                    alt="avatar"
                    src={`./images/Damnbook/Icons/bell.png`}
                />
            </div>
            <div class="button">
                <img
                    alt="avatar"
                    src={`./images/Damnbook/Icons/triangle.png`}
                />
            </div>
        </div>
    </div>
</nav>

<style>
        @media screen and (max-width: 720px) {
        .container .centralIcons,
        .container .rightIcons {
            display: none;
        }
    }
    nav {
        background-color: #FFFFFF;
        border-bottom: 1px solid #dbdbdb;
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.15));
        height: 54px;
        position: fixed;
        top: 0;
        width: 100%;
        padding: 9px 0;
        box-sizing: border-box;

        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2000;
    }
    .container {
        width: 100%;
        padding: 0 5%;
        max-height: 100%;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .centralIcons {
        display: flex;
        height: 52px;
    }
    .rightIcons {
        display: flex;
        height: 52px;
        align-items: center;
    }
    .icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
    }
    .underline {
        margin-bottom: -1px;
        border-bottom: 4px solid #ED472F;
    }
    .centralIcons img {
        max-height: 50%;
    }
    .button {
        margin-left: 8px;
        width: 40px;
        height: 40px;
        background: #E4E6EB;
        border-radius: 20px;

        display: flex;
        align-items: center;
        justify-content: center;
    }
    .button img {
        width: 50%;
        height: 50%;
    }
    .avatar {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 30px;
        height: 30px;
        border-radius: 15px;

        overflow: hidden;
    }
    .avatar img {
        width: 100%;
        height: 100%;
    }
    .username {
        margin-left: 4px;
        margin-right: 20px;
    }
</style>
