<script>

    const menuItems = [
        {
            text: 'Главная',
            icon: 'Main.png',
            isSelected: false,
            hasChevrone: false,
        },
        {
            text: 'Запросы на добавление в друзья',
            icon: 'Arrow.png',
            isSelected: true,
            hasChevrone: true,
        },
        {
            text: 'Рекомендации',
            icon: 'Plus.png',
            isSelected: false,
            hasChevrone: true,
        },
        {
            text: 'Все знакомые',
            icon: 'List.png',
            isSelected: false,
            hasChevrone: true,
        },
        {
            text: 'Дни рождения',
            icon: 'Gift.png',
            isSelected: false,
            hasChevrone: false,
        },
        {
            text: 'Собственные списки',
            icon: 'List.png',
            isSelected: false,
            hasChevrone: true,
        },
    ]
</script>

<div class="links">
    <div class="header">
        <h1>Знакомые</h1>
        <div class="icon">
            <img src="./images/Damnbook/Icons/Gear.png" alt="icon"/>
        </div>
    </div>

    {#each menuItems as {text, icon, isSelected, hasChevrone} }
    <div class="row" class:selected={isSelected}>
        <div class="item">
            <div class="icon"><img src="./images/Damnbook/Icons/{icon}" alt="icon"/></div>
            {text}
        </div>
        {#if hasChevrone}
            <div class="icon">
                <img src="./images/Damnbook/Icons/Chevrone.png" alt="icon"/>
            </div>
        {:else}
            <div/>
        {/if}
    </div>
    {/each}
</div>

<style>
    @media screen and (max-width: 720px) {
        .links {
            display: none;
        }
    }
    .links {
        width: 360px;
        padding-left: 30px;
        background-color: #FFFFFF;
        border-right: 1px solid #dbdbdb;
    }
    .header {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .row {
        display: flex;
        align-items: center;
        justify-content: space-between;

        font-family: Roboto;
        font-style: normal;
        font-weight: 500;
        font-size: 17.25px;
        line-height: 20px;

        margin-bottom: 10px;
    }
    .item {
        display: flex;
        align-items: center;
    }
    .icon {
        flex-shrink: 0;
        width: 36px;
        height: 36px;
        border-radius: 18px;
        padding-right: 12px;
        overflow: hidden;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .selected {
        color: #0679FF;
    }
    .selected img {
        /* https://codepen.io/sosuke/pen/Pjoqqp */
        filter: invert(35%) sepia(87%) saturate(3800%) hue-rotate(203deg) brightness(103%) contrast(100%);
    }
    .icon img {
        max-width: 80%;
        max-height: 80%;
    }
</style>
