<script>
  import Header from './Foodporn/Header.svelte'
  import Main from './Foodporn/Main.svelte'
  import {onMount} from 'svelte'
  export let myPlayer
  let visible = true
  onMount(() => {
    myPlayer?.pause()
  })
  const continuePlay = () => {
    visible = false
    myPlayer?.play()
  }
</script>

{#if visible}
  <div class="container">
    <Header />
    <div class="spacer" />
    <Main {continuePlay}/>
  </div>
{/if}

<style>
  .spacer {
    height: 12px;
  }
  .container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #101010;
    display: flex;
    flex-direction: column;
    z-index: 9999;
  }
</style>
