<script>
    import {onMount} from 'svelte'
    import Timer from './Timer.svelte'
    export let item;
    export let myPlayer
    let visible = true;
    onMount(()=>{
        myPlayer.pause();
    })
    const continuePlay = ()=>{
        visible=false;
        myPlayer.play()
    }
    
</script>
{#if visible}
<div class="container">
  <iframe
    src={item.link}
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen=""
    title="externalLink"
  />
  <div class="timer">
      <Timer on:timerend={continuePlay}/>
  </div>
</div>
{/if}
<style>
    .timer{
        position: absolute;
        bottom: 16px;
        right: 16px;
        width: 20vmin;
        height: 20vmin;
        background-color:rgba(34, 34, 34, 1);
        border-radius: 50%;
        padding: 2vmin;

    }
  .container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: black;
    display: flex;
    flex-direction: column;
    z-index: 9999;
  }
  iframe {
    flex-grow: 1;
  }
</style>
