<script>
    export let i =0;
    export let item;
    export let onClick=()=>{}
    export let ingridients = [];
</script>
<div class="item" on:click={() => onClick(item)}>
    <div class="leftLine">
      <div class="line" class:invisible={i === 0} />
      <div class="circle" class:selected={item.selected}>
        {#if item.selected}
          <svg class="checkbox" viewBox="0 0 32 29" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M2.75293 12.7487L14.1926 22.675L27.7123 2.30002" stroke="#070707" stroke-width="8" />
          </svg>
        {/if}
      </div>
      <div class="line" class:invisible={i === ingridients.length - 1} />
    </div>
    <div class="imageWrapper">
      <div class="ingridient" style={`background-image: url(./images/burger/${item.name}.png)`} />
      <div class="text">{item.text}</div>
    </div>
  </div>
<style>
    .imageWrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vmin;
  }
  .ingridient {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    padding-top: 20%;
  }
  .text {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
      'Helvetica Neue', sans-serif;
    font-size: 4vmin;
    margin-top: 8px;
    text-align: center;
    color: #ffffff;
  }
  .selected {
    background-color: #d743fc;
  }
  .leftLine {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .checkbox{
    width: 80%;
  }

  .item {
    display: flex;
    cursor: pointer;
  }
  .line {
    opacity: 0.33;
    background-color: white;
    height: 100%;
    width: 3px;
  }
  .circle {
    border-radius: 50%;
    min-width: 5vmin;
    min-height: 5vmin;
    max-width: 5vmin;
    max-height: 5vmin;
    border: 3px solid #d743fc;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .invisible {
    opacity: 0;
  }
</style>