<script>
  import Ingridient from './Ingridient.svelte'
  export let continuePlay
  let ingridients = [
    { name: 'beacon', text: 'Бинджвотч-бекон' },
    { name: 'tomato', text: 'Помидорка Stories' },
    { name: 'asmr', text: 'ASMR' },
    { name: 'tiktok', text: 'Тик-ток котлета' },
    { name: 'tiktokcats', text: 'Тик-ток котлета c котиками' },
    { name: 'onion', text: 'Видео-лук' },
    { name: 'cheese', text: 'Науч-поп сыр' },
    { name: 'salad', text: '10-ти часовой салат' },
    { name: 'cucumba', text: 'Интересный огуречек' },
  ]
  const toggle = (item) => {
    item.selected = !item.selected
    ingridients = ingridients
  }
  $: selected = ingridients.filter((item) => item.selected)
  let currentScroll = 0
  let scrollBox
  const onScroll = () => {
    currentScroll = scrollBox.scrollTop
  }
</script>

<div class="main">
  <div class="left">
    <div class="burger">
      <div style="z-index:101;" class="burgeringridientWrapper">
        <div class="burgeringridient" style={`background-image: url(./images/burger/topburger.png)`} />
      </div>
      {#each selected as item, i}
        <div
          class="ingridientWrapper"
          style={`z-index:${100 - i}; transform:translateX(${i % 2 == 0 ? -2 : 2}%);`}
        >
          <div class="ingridient" style={`background-image: url(./images/burger/${item.name}.png)`} />
        </div>
      {/each}
      <div class="burgeringridientWrapper">
        <div class="burgeringridient" style={`background-image: url(./images/burger/bottomburger.png)`} />
      </div>
      <button class="order" on:click={continuePlay}>Заказать</button>
    </div>
  </div>
  <div class="right">
    <div class="topShadow" style={`opacity: ${currentScroll > 50 ? 1 : (currentScroll / 100) * 2}`} />
    <div class="bottomShadow" />
    <div class="ingridients" bind:this={scrollBox} on:scroll={onScroll}>
      {#each ingridients as item, i}
        <Ingridient {i} {item} onClick={toggle} {ingridients} />
      {/each}
    </div>
  </div>
</div>

<style>
  .topShadow {
    position: absolute;
    top: 0;
    width: 100%;
    background: linear-gradient(180deg, #1c1c1c 0%, rgba(28, 28, 28, 0) 100%);
    height: 50px;
    z-index: 1;
    pointer-events: none;
  }
  .bottomShadow {
    position: absolute;
    bottom: 0;
    width: 100%;
    background: linear-gradient(180deg, rgba(28, 28, 28, 0) 0%, #1c1c1c 100%);
    height: 50px;
    z-index: 1;
    pointer-events: none;
  }

  .ingridients {
    height: 100%;
    overflow: scroll;
    padding: 10px 0 20px 0;
    box-sizing: border-box;
  }

  .burgeringridientWrapper {
    height: 10vmin;
    overflow: visible;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .burgeringridient {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    padding-top: 20%;
  }
  .ingridientWrapper {
    height: 3vmin;
    overflow: visible;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .ingridient {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    padding-top: 13%;
  }
  .burger {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: relative;
  }
  .main {
    flex-grow: 1;
    background-color: #1c1c1c;
    display: flex;
    overflow: scroll;
  }
  .left {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .right {
    width: 40%;
    height: 100%;
    overflow: scroll;
    position: relative;
  }
  .order {
    margin-top: 10vmin;
    background-color: #43fccf;
    color: black;
    border-radius: 3vmin;
    font-size: 3vmin;
    padding: 3vmin 10vmin;
    text-align: center;
    border: none;
    outline: none;
    cursor: pointer;
  }
  @media screen and (max-width: 500px) {
    .left {
      width: 50%;
    }
    .right {
      width: 50%;
    }
    .burgeringridient {
      padding-top: 36%;
    }
    .ingridient {
      padding-top: 23%;
    }
    .order {
      border-radius: 3vmin;
      font-size: 5vmin;
      padding: 3vmin 10vmin;
    }
  }
</style>
