<script>
    import {onMount} from 'svelte';
    export let isReadyToPublish = false;
    export let setIsReadyToPublish = () => {};
    // export let backgroundImage = '';
    export let setBackgroundImage = () => {};
    export let continuePlay = () => {};

    const masks = ['0.png', '1.png', '2.png', '3.png', '4.png', '5.png', '6.png'];

    let lastXcoord;
    const moveHandler = (e) => {
        if (e instanceof TouchEvent && e.changedTouches.length === 1) {
            const deltaX = lastXcoord - e.changedTouches[0].clientX;
            lastXcoord = e.changedTouches[0].clientX;
            return deltaX;
        } else if (e instanceof MouseEvent && e.button === 0 && e.buttons === 1) {
            const deltaX = lastXcoord - e.clientX;
            lastXcoord = e.clientX;
            return deltaX;
        } else if (e instanceof WheelEvent) {
            return e.deltaX;
        } else return 0;
    }

    let timerId;
    let containerWidth = 0;
    let xOffset = 0;
    let centerCoord = 0;

    onMount(() => {
        centerCoord = containerWidth * 0.5 - 40;
    });

    const onScroll = (e) => {
        clearTimeout(timerId);
        e.preventDefault();
        const deltaX = moveHandler(e);
        xOffset -= deltaX;
        if (xOffset > 0) xOffset = 0;
        const maxOffset = (masks.length - 1) * -90;
        if (xOffset < maxOffset) xOffset = maxOffset;
        timerId = setTimeout(getActiveMask, 200)
    }

    const getActiveMask = () => {
        const index = -1 * Math.floor((xOffset + 45) / 90);
        setBackgroundImage(masks[index]);
        xOffset = -90 * index; // #TODO - make transition
    }
    const setMaskActive = (index) => {
        setBackgroundImage(masks[index]);
        xOffset = -90 * index; // #TODO - make transition
    }
</script>

<div class="footer" bind:clientWidth={containerWidth}>
    {#if isReadyToPublish}
        <div class="actions">
            <div />
            <button on:click={continuePlay}>Опубликовать</button>
            <div />
        </div>
    {:else}
        <div
            class="masks"
            style="padding-left: {centerCoord}px; margin-left: {xOffset}px"
            on:touchstart={(e) => lastXcoord = e.changedTouches[0].clientX}
            on:mousedown={(e) => lastXcoord = e.clientX}
            on:mousewheel={onScroll}
            on:touchmove={onScroll}
            on:mousemove={onScroll}
        >
            {#each masks as mask, index}
                <div class="mask" on:click={() => setMaskActive(index)}>
                    <img src="./images/instagram/masks/{mask}" alt="mask" />
                </div>
            {/each}
        </div>
        <div class="actions">
            <div class="iconContainer">
                <img src="./images/instagram//gallery-girl.png" alt="gallery" />
            </div>
            <button on:click={setIsReadyToPublish}>Готово</button>
            <div class="iconContainer">
                <img src="./images/instagram/icons/flip-camera.png" alt="flip" />
            </div>
        </div>
    {/if}
</div>

<style>
.footer {
    overflow: hidden;
}
.actions {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
}
.iconContainer {
    width: 32px;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.iconContainer img {
    width: 100%;
    height: 100%;
}
.masks {
    display: flex;
    overflow-x: scroll;
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}
.masks::-webkit-scrollbar {
    display: none; /* Hide scrollbar for Chrome, Safari and Opera */
}
.mask {
    flex-shrink: 0;
    height: 80px;
    width: 80px;
    border-radius: 40px;
    overflow: hidden;
    margin-right: 10px;
    cursor: pointer;
}
.mask img {
    width: 100%;
    height: 100%;
}
button {
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;

    padding: 8px 32px;
    border-radius: 16px;
    border: none;
}
</style>
