<script>
	import Video from './Video.svelte'
</script>

<svelte:head>
	<link href="//amp.azure.net/libs/amp/latest/skins/amp-default/azuremediaplayer.min.css" rel="stylesheet" />
	<script src="//amp.azure.net/libs/amp/latest/azuremediaplayer.min.js" />
	<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
</svelte:head>

<Video/>
